.code{
  color:var(--vscode-symbolIcon-textForeground);
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-font-size);
}
:global(.hljs) {
  display: block;
  overflow-x: auto;
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

:global(.hljs-quote),
:global(.hljs-variable) {
  color: var(--vscode-symbolIcon-variableForeground);
}


:global(.hljs-comment){
  color: var(--vscode-symbolIcon-eventForeground);
}

:global(.hljs-keyword),
:global(.hljs-selector-tag),
:global(.hljs-built_in),
:global(.hljs-name),
:global(.hljs-tag) {
  color: var(--vscode-symbolIcon-fieldForeground);
}

:global(.hljs-string),
:global(.hljs-title),
:global(.hljs-section),
:global(.hljs-attribute),
:global(.hljs-literal),
:global(.hljs-template-tag),
:global(.hljs-template-variable),
:global(.hljs-type),
:global(.hljs-addition) {
  color: var(--vscode-symbolIcon-stringForeground);
}

:global(.hljs-deletion),
:global(.hljs-selector-attr),
:global(.hljs-selector-pseudo),
:global(.hljs-meta) {
  color: var(--vscode-symbolIcon-functionForeground);
}

:global(.hljs-doctag) {
  color: var(--vscode-symbolIcon-classForeground);
}

:global(.hljs-attr) {
  color: var(--vscode-symbolIcon-fieldForeground);
}

:global(.hljs-symbol),
:global(.hljs-bullet),
:global(.hljs-link){
  color: var(--vscode-symbolIcon-constantForeground);
}


:global(.hljs-emphasis) {
  font-style: italic;
}

:global(.hljs-strong) {
  font-weight: bold;
}
