.response{
  font-family: var(--vscode-editor-font-family);
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
  padding: 1rem;
  max-height: 30rem;
  overflow: auto;
}

.statusLine{
  margin: .5rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.statusLineVersion{
  padding-right: .5rem;
  color: var(--vscode-httpbook-hljsLiteral);
}
.statusLineCode{
  padding-right: .5rem;
  color: var(--vscode-httpbook-hljsAttr);
}
.statusLineMessage{
  color: var(--vscode-httpbook-hljsLiteral);
}

.request + .statusLine{
  margin-top: 2rem;
}


.requestLine{
  margin: .5rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.requestLineMethod{
  padding-right: .5rem;
  color: var(--vscode-httpbook-hljsAttr);
}
.requestLineUrl{
  color: var(--vscode-httpbook-hljsLiteral);
}


.header{
  display: grid;
  column-gap: .5rem;
  grid-template-columns: auto minmax(0, 1fr);
}
.headerName{
  color: var(--vscode-httpbook-hljsAttr);
}
.headerValue{
  color: var(--vscode-httpbook-hljsString);
}

.body{
  margin: .5rem 0;
}