:root{

  --vscode-font-family: "Segoe WPC", "Segoe UI", sans-serif;
  --vscode-font-weight: normal;
  --vscode-font-size: 13px;
  --vscode-editor-font-family: Fira Code;
  --vscode-editor-font-weight: normal;
  --vscode-editor-font-esize: 15px;
  --vscode-foreground: #616161;
  --vscode-errorForeground: #a1260d;
  --vscode-descriptionForeground: #717171;
  --vscode-icon-foreground: #424242;
  --vscode-focusBorder: #fafbfc;
  --vscode-textSeparator-foreground: rgba(0, 0, 0, 0.18);
  --vscode-textLink-foreground: #006ab1;
  --vscode-textLink-activeForeground: #006ab1;
  --vscode-textPreformat-foreground: #a31515;
  --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
  --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
  --vscode-textCodeBlock-background: rgba(220, 220, 220, 0.4);
  --vscode-widget-shadow: rgba(0, 0, 0, 0.16);
  --vscode-input-background: #ffffff;
  --vscode-input-foreground: #616161;
  --vscode-inputOption-activeBorder: #e36209;
  --vscode-inputOption-activeBackground: rgba(250, 251, 252, 0.2);
  --vscode-inputOption-activeForeground: #000000;
  --vscode-input-placeholderForeground: rgba(97, 97, 97, 0.5);
  --vscode-inputValidation-infoBackground: #d6ecf2;
  --vscode-inputValidation-infoBorder: #007acc;
  --vscode-inputValidation-warningBackground: #f6f5d2;
  --vscode-inputValidation-warningBorder: #b89500;
  --vscode-inputValidation-errorBackground: #f2dede;
  --vscode-inputValidation-errorBorder: #be1100;
  --vscode-dropdown-background: #ffffff;
  --vscode-dropdown-border: #cecece;
  --vscode-checkbox-background: #ffffff;
  --vscode-checkbox-border: #cecece;
  --vscode-button-foreground: #ffffff;
  --vscode-button-background: #007acc;
  --vscode-button-hoverBackground: #0062a3;
  --vscode-button-secondaryForeground: #ffffff;
  --vscode-button-secondaryBackground: #5f6a79;
  --vscode-button-secondaryHoverBackground: #4c5561;
  --vscode-badge-background: #c4c4c4;
  --vscode-badge-foreground: #333333;
  --vscode-scrollbar-shadow: rgba(0, 0, 0, 0);
  --vscode-scrollbarSlider-background: rgba(100, 100, 100, 0.4);
  --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --vscode-scrollbarSlider-activeBackground: rgba(0, 0, 0, 0.6);
  --vscode-progressBar-background: #0e70c0;
  --vscode-editorError-foreground: #e51400;
  --vscode-editorWarning-foreground: #bf8803;
  --vscode-editorInfo-foreground: #75beff;
  --vscode-editorHint-foreground: #6c6c6c;
  --vscode-sash-hoverBorder: #fafbfc;
  --vscode-editor-background: #ffffff;
  --vscode-editor-foreground: #24292e;
  --vscode-editorWidget-background: #f3f3f3;
  --vscode-editorWidget-foreground: #616161;
  --vscode-editorWidget-border: #c8c8c8;
  --vscode-quickInput-background: #f3f3f3;
  --vscode-quickInput-foreground: #616161;
  --vscode-quickInputTitle-background: rgba(0, 0, 0, 0.06);
  --vscode-pickerGroup-foreground: #0066bf;
  --vscode-pickerGroup-border: #cccedb;
  --vscode-keybindingLabel-background: rgba(221, 221, 221, 0.4);
  --vscode-keybindingLabel-foreground: #555555;
  --vscode-keybindingLabel-border: rgba(204, 204, 204, 0.4);
  --vscode-keybindingLabel-bottomBorder: rgba(187, 187, 187, 0.4);
  --vscode-editor-selectionBackground: #add6ff;
  --vscode-editor-inactiveSelectionBackground: rgba(173, 214, 255, 0.5);
  --vscode-editor-selectionHighlightBackground: rgba(219, 237, 255, 0.6);
  --vscode-editor-findMatchBackground: #a8ac94;
  --vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
  --vscode-editor-findRangeHighlightBackground: rgba(180, 180, 180, 0.3);
  --vscode-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
  --vscode-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
  --vscode-editorHoverWidget-background: #f3f3f3;
  --vscode-editorHoverWidget-foreground: #616161;
  --vscode-editorHoverWidget-border: #c8c8c8;
  --vscode-editorHoverWidget-statusBarBackground: #e7e7e7;
  --vscode-editorLink-activeForeground: #0000ff;
  --vscode-editorInlineHint-foreground: #616161;
  --vscode-editorInlineHint-background: #f3f3f3;
  --vscode-editorLightBulb-foreground: #ddb100;
  --vscode-editorLightBulbAutoFix-foreground: #007acc;
  --vscode-diffEditor-insertedTextBackground: rgba(155, 185, 85, 0.2);
  --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
  --vscode-diffEditor-diagonalFill: rgba(34, 34, 34, 0.2);
  --vscode-list-focusOutline: #fafbfc;
  --vscode-list-activeSelectionBackground: #0060c0;
  --vscode-list-activeSelectionForeground: #ffffff;
  --vscode-list-inactiveSelectionBackground: #e4e6f1;
  --vscode-list-hoverBackground: #f0f0f0;
  --vscode-list-dropBackground: #d6ebff;
  --vscode-list-highlightForeground: #0066bf;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-errorForeground: #b01011;
  --vscode-list-warningForeground: #855f00;
  --vscode-listFilterWidget-background: #efc1ad;
  --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --vscode-listFilterWidget-noMatchesOutline: #be1100;
  --vscode-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
  --vscode-tree-indentGuidesStroke: #a9a9a9;
  --vscode-tree-tableColumnsBorder: rgba(97, 97, 97, 0.13);
  --vscode-list-deemphasizedForeground: #8e8e90;
  --vscode-quickInputList-focusBackground: #d6ebff;
  --vscode-menu-foreground: #616161;
  --vscode-menu-background: #ffffff;
  --vscode-menu-selectionForeground: #ffffff;
  --vscode-menu-selectionBackground: #0060c0;
  --vscode-menu-separatorBackground: #888888;
  --vscode-toolbar-hoverBackground: rgba(184, 184, 184, 0.31);
  --vscode-toolbar-activeBackground: rgba(166, 166, 166, 0.31);
  --vscode-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
  --vscode-editor-snippetFinalTabstopHighlightBorder: rgba(10, 50, 100, 0.5);
  --vscode-breadcrumb-foreground: rgba(97, 97, 97, 0.8);
  --vscode-breadcrumb-background: #ececec;
  --vscode-breadcrumb-focusForeground: #4e4e4e;
  --vscode-breadcrumb-activeSelectionForeground: #4e4e4e;
  --vscode-breadcrumbPicker-background: #f3f3f3;
  --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
  --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
  --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
  --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
  --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
  --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
  --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
  --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
  --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
  --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-minimap-findMatchHighlight: #d18616;
  --vscode-minimap-selectionHighlight: #add6ff;
  --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
  --vscode-minimap-warningHighlight: #bf8803;
  --vscode-minimapSlider-background: rgba(100, 100, 100, 0.2);
  --vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
  --vscode-minimapSlider-activeBackground: rgba(0, 0, 0, 0.3);
  --vscode-problemsErrorIcon-foreground: #e51400;
  --vscode-problemsWarningIcon-foreground: #bf8803;
  --vscode-problemsInfoIcon-foreground: #75beff;
  --vscode-charts-foreground: #616161;
  --vscode-charts-lines: rgba(97, 97, 97, 0.5);
  --vscode-charts-red: #e51400;
  --vscode-charts-blue: #75beff;
  --vscode-charts-yellow: #bf8803;
  --vscode-charts-orange: #d18616;
  --vscode-charts-green: #388a34;
  --vscode-charts-purple: #652d90;
  --vscode-editor-lineHighlightBackground: #fffbdd;
  --vscode-editor-lineHighlightBorder: #eeeeee;
  --vscode-editor-rangeHighlightBackground: rgba(253, 255, 0, 0.2);
  --vscode-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
  --vscode-editorCursor-foreground: #000000;
  --vscode-editorWhitespace-foreground: rgba(51, 51, 51, 0.2);
  --vscode-editorIndentGuide-background: #eeeeee;
  --vscode-editorIndentGuide-activeBackground: rgba(51, 51, 51, 0.2);
  --vscode-editorLineNumber-foreground: #cccccc;
  --vscode-editorActiveLineNumber-foreground: #0b216f;
  --vscode-editorLineNumber-activeForeground: #0b216f;
  --vscode-editorRuler-foreground: #d3d3d3;
  --vscode-editorCodeLens-foreground: #999999;
  --vscode-editorBracketMatch-background: #f1f8ff;
  --vscode-editorBracketMatch-border: #c8e1ff;
  --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
  --vscode-editorGutter-background: #ffffff;
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.47);
  --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
  --vscode-editorOverviewRuler-warningForeground: #bf8803;
  --vscode-editorOverviewRuler-infoForeground: #75beff;
  --vscode-symbolIcon-arrayForeground: #616161;
  --vscode-symbolIcon-booleanForeground: #616161;
  --vscode-symbolIcon-classForeground: #d67e00;
  --vscode-symbolIcon-colorForeground: #616161;
  --vscode-symbolIcon-constantForeground: #616161;
  --vscode-symbolIcon-constructorForeground: #652d90;
  --vscode-symbolIcon-enumeratorForeground: #d67e00;
  --vscode-symbolIcon-enumeratorMemberForeground: #007acc;
  --vscode-symbolIcon-eventForeground: #d67e00;
  --vscode-symbolIcon-fieldForeground: #007acc;
  --vscode-symbolIcon-fileForeground: #616161;
  --vscode-symbolIcon-folderForeground: #616161;
  --vscode-symbolIcon-functionForeground: #652d90;
  --vscode-symbolIcon-interfaceForeground: #007acc;
  --vscode-symbolIcon-keyForeground: #616161;
  --vscode-symbolIcon-keywordForeground: #616161;
  --vscode-symbolIcon-methodForeground: #652d90;
  --vscode-symbolIcon-moduleForeground: #616161;
  --vscode-symbolIcon-namespaceForeground: #616161;
  --vscode-symbolIcon-nullForeground: #616161;
  --vscode-symbolIcon-numberForeground: #616161;
  --vscode-symbolIcon-objectForeground: #616161;
  --vscode-symbolIcon-operatorForeground: #616161;
  --vscode-symbolIcon-packageForeground: #616161;
  --vscode-symbolIcon-propertyForeground: #616161;
  --vscode-symbolIcon-referenceForeground: #616161;
  --vscode-symbolIcon-snippetForeground: #616161;
  --vscode-symbolIcon-stringForeground: #616161;
  --vscode-symbolIcon-structForeground: #616161;
  --vscode-symbolIcon-textForeground: #616161;
  --vscode-symbolIcon-typeParameterForeground: #616161;
  --vscode-symbolIcon-unitForeground: #616161;
  --vscode-symbolIcon-variableForeground: #007acc;
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
  --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.25);
  --vscode-editor-wordHighlightStrongBackground: rgba(14, 99, 156, 0.25);
  --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
  --vscode-editor-foldBackground: rgba(173, 214, 255, 0.3);
  --vscode-editorGutter-foldingControlForeground: #424242;
  --vscode-peekViewTitle-background: #ffffff;
  --vscode-peekViewTitleLabel-foreground: #333333;
  --vscode-peekViewTitleDescription-foreground: rgba(97, 97, 97, 0.9);
  --vscode-peekView-border: #007acc;
  --vscode-peekViewResult-background: #f3f3f3;
  --vscode-peekViewResult-lineForeground: #646465;
  --vscode-peekViewResult-fileForeground: #1e1e1e;
  --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
  --vscode-peekViewResult-selectionForeground: #6c6c6c;
  --vscode-peekViewEditor-background: #f2f8fc;
  --vscode-peekViewEditorGutter-background: #f2f8fc;
  --vscode-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
  --vscode-peekViewEditor-matchHighlightBackground: rgba(245, 216, 2, 0.87);
  --vscode-editorMarkerNavigationError-background: #e51400;
  --vscode-editorMarkerNavigationWarning-background: #bf8803;
  --vscode-editorMarkerNavigationInfo-background: #75beff;
  --vscode-editorMarkerNavigation-background: #ffffff;
  --vscode-editorSuggestWidget-background: #f3f3f3;
  --vscode-editorSuggestWidget-border: #c8c8c8;
  --vscode-editorSuggestWidget-foreground: #24292e;
  --vscode-editorSuggestWidget-selectedBackground: #d6ebff;
  --vscode-editorSuggestWidget-highlightForeground: #0066bf;
  --vscode-tab-activeBackground: #ffffff;
  --vscode-tab-unfocusedActiveBackground: #ffffff;
  --vscode-tab-inactiveBackground: #fafbfc;
  --vscode-tab-unfocusedInactiveBackground: #fafbfc;
  --vscode-tab-activeForeground: #333333;
  --vscode-tab-inactiveForeground: #586069;
  --vscode-tab-unfocusedActiveForeground: rgba(51, 51, 51, 0.7);
  --vscode-tab-unfocusedInactiveForeground: rgba(88, 96, 105, 0.5);
  --vscode-tab-border: #e1e4e8;
  --vscode-tab-lastPinnedBorder: #a9a9a9;
  --vscode-tab-activeBorder: #007acc;
  --vscode-tab-unfocusedActiveBorder: rgba(0, 122, 204, 0.7);
  --vscode-tab-activeModifiedBorder: #33aaee;
  --vscode-tab-inactiveModifiedBorder: rgba(51, 170, 238, 0.5);
  --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 170, 238, 0.7);
  --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 170, 238, 0.25);
  --vscode-editorPane-background: #ffffff;
  --vscode-editorGroupHeader-tabsBackground: #fafbfc;
  --vscode-editorGroupHeader-tabsBorder: #e1e4e8;
  --vscode-editorGroupHeader-noTabsBackground: #ffffff;
  --vscode-editorGroup-border: #e7e7e7;
  --vscode-editorGroup-dropBackground: rgba(38, 119, 203, 0.18);
  --vscode-imagePreview-border: rgba(128, 128, 128, 0.35);
  --vscode-panel-background: #ffffff;
  --vscode-panel-border: rgba(128, 128, 128, 0.35);
  --vscode-panelTitle-activeForeground: #424242;
  --vscode-panelTitle-inactiveForeground: rgba(66, 66, 66, 0.75);
  --vscode-panelTitle-activeBorder: #424242;
  --vscode-panelInput-border: #dddddd;
  --vscode-panel-dropBorder: #424242;
  --vscode-panelSection-dropBackground: rgba(38, 119, 203, 0.18);
  --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
  --vscode-panelSection-border: rgba(128, 128, 128, 0.35);
  --vscode-statusBar-foreground: #24292e;
  --vscode-statusBar-noFolderForeground: #24292e;
  --vscode-statusBar-background: #fafbfc;
  --vscode-statusBar-noFolderBackground: #fafbfc;
  --vscode-statusBar-border: #e1e4e8;
  --vscode-statusBar-noFolderBorder: #e1e4e8;
  --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
  --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-prominentForeground: #24292e;
  --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
  --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
  --vscode-statusBarItem-errorBackground: #611708;
  --vscode-statusBarItem-errorForeground: #ffffff;
  --vscode-activityBar-background: #007acc;
  --vscode-activityBar-foreground: #fafbfc;
  --vscode-activityBar-inactiveForeground: rgba(250, 251, 252, 0.4);
  --vscode-activityBar-activeBorder: #fafbfc;
  --vscode-activityBar-dropBorder: #fafbfc;
  --vscode-activityBarBadge-background: #54a3ff;
  --vscode-activityBarBadge-foreground: #ffffff;
  --vscode-statusBarItem-remoteBackground: #54a3ff;
  --vscode-statusBarItem-remoteForeground: #ffffff;
  --vscode-extensionBadge-remoteBackground: #54a3ff;
  --vscode-extensionBadge-remoteForeground: #ffffff;
  --vscode-sideBar-background: #fafbfc;
  --vscode-sideBar-foreground: #586069;
  --vscode-sideBar-border: #dcdcdc;
  --vscode-sideBarTitle-foreground: #24292e;
  --vscode-sideBar-dropBackground: rgba(38, 119, 203, 0.18);
  --vscode-sideBarSectionHeader-background: #f1f2f3;
  --vscode-sideBarSectionHeader-foreground: #24292e;
  --vscode-titleBar-activeForeground: #333333;
  --vscode-titleBar-inactiveForeground: rgba(51, 51, 51, 0.6);
  --vscode-titleBar-activeBackground: #fafbfc;
  --vscode-titleBar-inactiveBackground: rgba(250, 251, 252, 0.6);
  --vscode-titleBar-border: #e1e4e8;
  --vscode-menubar-selectionForeground: #333333;
  --vscode-menubar-selectionBackground: rgba(0, 0, 0, 0.1);
  --vscode-notifications-foreground: #616161;
  --vscode-notifications-background: #f3f3f3;
  --vscode-notificationLink-foreground: #006ab1;
  --vscode-notificationCenterHeader-background: #e7e7e7;
  --vscode-notifications-border: #e7e7e7;
  --vscode-notificationsErrorIcon-foreground: #e51400;
  --vscode-notificationsWarningIcon-foreground: #bf8803;
  --vscode-notificationsInfoIcon-foreground: #75beff;
  --vscode-editorGutter-commentRangeForeground: #c5c5c5;
  --vscode-debugToolBar-background: #f3f3f3;
  --vscode-debugIcon-startForeground: #388a34;
  --vscode-settings-headerForeground: #444444;
  --vscode-settings-modifiedItemIndicator: #66afe0;
  --vscode-settings-dropdownBackground: #ffffff;
  --vscode-settings-dropdownBorder: #cecece;
  --vscode-settings-dropdownListBorder: #c8c8c8;
  --vscode-settings-checkboxBackground: #ffffff;
  --vscode-settings-checkboxBorder: #cecece;
  --vscode-settings-textInputBackground: #ffffff;
  --vscode-settings-textInputForeground: #616161;
  --vscode-settings-numberInputBackground: #ffffff;
  --vscode-settings-numberInputForeground: #616161;
  --vscode-notebook-focusedRowBorder: rgba(0, 0, 0, 0.12);
  --vscode-terminal-foreground: #333333;
  --vscode-terminal-selectionBackground: rgba(0, 0, 0, 0.25);
  --vscode-terminal-border: rgba(128, 128, 128, 0.35);
  --vscode-testing-iconFailed: #f14c4c;
  --vscode-testing-iconErrored: #f14c4c;
  --vscode-testing-iconPassed: #73c991;
  --vscode-testing-runAction: #73c991;
  --vscode-testing-iconQueued: #cca700;
  --vscode-testing-iconUnset: #848484;
  --vscode-testing-iconSkipped: #848484;
  --vscode-testing-peekBorder: #e51400;
  --vscode-testing-message\.error\.decorationForeground: #e51400;
  --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
  --vscode-testing-message\.warning\.decorationForeground: #bf8803;
  --vscode-testing-message\.warning\.lineBackground: rgba(255, 208, 0, 0.2);
  --vscode-testing-message\.info\.decorationForeground: #75beff;
  --vscode-testing-message\.info\.lineBackground: rgba(0, 127, 255, 0.2);
  --vscode-testing-message\.hint\.decorationForeground: #6c6c6c;
  --vscode-welcomePage-tileBackground: #f3f3f3;
  --vscode-welcomePage-tileHoverBackground: #dbdbdb;
  --vscode-welcomePage-tileShadow\.: rgba(0, 0, 0, 0.16);
  --vscode-welcomePage-progress\.background: #ffffff;
  --vscode-welcomePage-progress\.foreground: #006ab1;
  --vscode-workspaceTrust-trustedForegound: #388a34;
  --vscode-workspaceTrust-untrustedForeground: #e51400;
  --vscode-workspaceTrust-tileBackground: #f3f3f3;
  --vscode-statusBar-debuggingBackground: #fafbfc;
  --vscode-statusBar-debuggingForeground: #24292e;
  --vscode-statusBar-debuggingBorder: #e1e4e8;
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugExceptionWidget-background: #f1dfde;
  --vscode-editorGutter-modifiedBackground: #66afe0;
  --vscode-editorGutter-addedBackground: #81b88b;
  --vscode-editorGutter-deletedBackground: #ca4b51;
  --vscode-minimapGutter-modifiedBackground: #66afe0;
  --vscode-minimapGutter-addedBackground: #81b88b;
  --vscode-minimapGutter-deletedBackground: #ca4b51;
  --vscode-editorOverviewRuler-modifiedForeground: rgba(102, 175, 224, 0.6);
  --vscode-editorOverviewRuler-addedForeground: rgba(129, 184, 139, 0.6);
  --vscode-editorOverviewRuler-deletedForeground: rgba(202, 75, 81, 0.6);
  --vscode-notebook-cellBorderColor: #e4e6f1;
  --vscode-notebook-focusedEditorBorder: #fafbfc;
  --vscode-notebookStatusSuccessIcon-foreground: #388a34;
  --vscode-notebookStatusErrorIcon-foreground: #a1260d;
  --vscode-notebookStatusRunningIcon-foreground: #616161;
  --vscode-notebook-outputContainerBackgroundColor: #e4e6f1;
  --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
  --vscode-notebook-selectedCellBackground: #e4e6f1;
  --vscode-notebook-selectedCellBorder: #e4e6f1;
  --vscode-notebook-focusedCellBorder: #fafbfc;
  --vscode-notebook-inactiveFocusedCellBorder: #e4e6f1;
  --vscode-notebook-cellStatusBarItemHoverBackground: rgba(0, 0, 0, 0.08);
  --vscode-notebook-cellInsertionIndicator: #fafbfc;
  --vscode-notebookScrollbarSlider-background: rgba(100, 100, 100, 0.4);
  --vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --vscode-notebookScrollbarSlider-activeBackground: rgba(0, 0, 0, 0.6);
  --vscode-notebook-symbolHighlightBackground: rgba(253, 255, 0, 0.2);
  --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 102, 0.45);
  --vscode-editor-focusedStackFrameHighlightBackground: rgba(206, 231, 206, 0.45);
  --vscode-debugIcon-breakpointForeground: #e51400;
  --vscode-debugIcon-breakpointDisabledForeground: #848484;
  --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #be8700;
  --vscode-debugIcon-breakpointStackframeForeground: #89d185;
  --vscode-ports-iconRunningProcessForeground: #54a3ff;
  --vscode-scm-providerBorder: #c8c8c8;
  --vscode-debugTokenExpression-name: #9b46b0;
  --vscode-debugTokenExpression-value: rgba(108, 108, 108, 0.8);
  --vscode-debugTokenExpression-string: #a31515;
  --vscode-debugTokenExpression-boolean: #0000ff;
  --vscode-debugTokenExpression-number: #098658;
  --vscode-debugTokenExpression-error: #e51400;
  --vscode-debugView-exceptionLabelForeground: #ffffff;
  --vscode-debugView-exceptionLabelBackground: #a31515;
  --vscode-debugView-stateLabelForeground: #616161;
  --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #75beff;
  --vscode-debugConsole-warningForeground: #bf8803;
  --vscode-debugConsole-errorForeground: #a1260d;
  --vscode-debugConsole-sourceForeground: #616161;
  --vscode-debugConsoleInputIcon-foreground: #616161;
  --vscode-debugIcon-pauseForeground: #007acc;
  --vscode-debugIcon-stopForeground: #a1260d;
  --vscode-debugIcon-disconnectForeground: #a1260d;
  --vscode-debugIcon-restartForeground: #388a34;
  --vscode-debugIcon-stepOverForeground: #007acc;
  --vscode-debugIcon-stepIntoForeground: #007acc;
  --vscode-debugIcon-stepOutForeground: #007acc;
  --vscode-debugIcon-continueForeground: #007acc;
  --vscode-debugIcon-stepBackForeground: #007acc;
  --vscode-extensionButton-prominentBackground: #007acc;
  --vscode-extensionButton-prominentForeground: #ffffff;
  --vscode-extensionButton-prominentHoverBackground: #0062a3;
  --vscode-extensionIcon-starForeground: #df6100;
  --vscode-terminal-ansiBlack: #000000;
  --vscode-terminal-ansiRed: #cd3131;
  --vscode-terminal-ansiGreen: #00bc00;
  --vscode-terminal-ansiYellow: #949800;
  --vscode-terminal-ansiBlue: #0451a5;
  --vscode-terminal-ansiMagenta: #bc05bc;
  --vscode-terminal-ansiCyan: #0598bc;
  --vscode-terminal-ansiWhite: #555555;
  --vscode-terminal-ansiBrightBlack: #666666;
  --vscode-terminal-ansiBrightRed: #cd3131;
  --vscode-terminal-ansiBrightGreen: #14ce14;
  --vscode-terminal-ansiBrightYellow: #b5ba00;
  --vscode-terminal-ansiBrightBlue: #0451a5;
  --vscode-terminal-ansiBrightMagenta: #bc05bc;
  --vscode-terminal-ansiBrightCyan: #0598bc;
  --vscode-terminal-ansiBrightWhite: #a5a5a5;
  --vscode-gitDecoration-addedResourceForeground: #587c0c;
  --vscode-gitDecoration-modifiedResourceForeground: #895503;
  --vscode-gitDecoration-deletedResourceForeground: #ad0707;
  --vscode-gitDecoration-renamedResourceForeground: #007100;
  --vscode-gitDecoration-untrackedResourceForeground: #007100;
  --vscode-gitDecoration-ignoredResourceForeground: #8e8e90;
  --vscode-gitDecoration-stageModifiedResourceForeground: #895503;
  --vscode-gitDecoration-stageDeletedResourceForeground: #ad0707;
  --vscode-gitDecoration-conflictingResourceForeground: #ad0707;
  --vscode-gitDecoration-submoduleResourceForeground: #1258a7;
  --vscode-remoteHub-decorations\.addedForegroundColor: #587c0c;
  --vscode-remoteHub-decorations\.modifiedForegroundColor: #895503;
  --vscode-remoteHub-decorations\.deletedForegroundColor: #ad0707;
  --vscode-remoteHub-decorations\.conflictForegroundColor: #ad0707;
  --vscode-remoteHub-decorations\.incomingAddedForegroundColor: #587c0c;
  --vscode-remoteHub-decorations\.incomingModifiedForegroundColor: #895503;
  --vscode-remoteHub-decorations\.incomingDeletedForegroundColor: #ad0707;
  --vscode-remoteHub-decorations\.incomingRenamedForegroundColor: #007100;
  --vscode-remoteHub-decorations\.possibleConflictForegroundColor: #b15e35;
  --vscode-gitlens-gutterBackgroundColor: rgba(0, 0, 0, 0.05);
  --vscode-gitlens-gutterForegroundColor: #747474;
  --vscode-gitlens-gutterUncommittedForegroundColor: rgba(0, 188, 242, 0.6);
  --vscode-gitlens-trailingLineBackgroundColor: rgba(0, 0, 0, 0);
  --vscode-gitlens-trailingLineForegroundColor: rgba(153, 153, 153, 0.35);
  --vscode-gitlens-lineHighlightBackgroundColor: rgba(0, 188, 242, 0.2);
  --vscode-gitlens-lineHighlightOverviewRulerColor: rgba(0, 188, 242, 0.6);
  --vscode-gitlens-closedPullRequestIconColor: #f85149;
  --vscode-gitlens-openPullRequestIconColor: #56d364;
  --vscode-gitlens-mergedPullRequestIconColor: #995dff;
  --vscode-gitlens-unpushlishedChangesIconColor: #35b15e;
  --vscode-gitlens-unpublishedCommitIconColor: #35b15e;
  --vscode-gitlens-unpulledChangesIconColor: #b15e35;
  --vscode-gitlens-decorations\.addedForegroundColor: #587c0c;
  --vscode-gitlens-decorations\.copiedForegroundColor: #007100;
  --vscode-gitlens-decorations\.deletedForegroundColor: #ad0707;
  --vscode-gitlens-decorations\.ignoredForegroundColor: #8e8e90;
  --vscode-gitlens-decorations\.modifiedForegroundColor: #895503;
  --vscode-gitlens-decorations\.untrackedForegroundColor: #007100;
  --vscode-gitlens-decorations\.renamedForegroundColor: #007100;
  --vscode-gitlens-decorations\.branchAheadForegroundColor: #35b15e;
  --vscode-gitlens-decorations\.branchBehindForegroundColor: #b15e35;
  --vscode-gitlens-decorations\.branchDivergedForegroundColor: #d8af1b;
  --vscode-gitlens-decorations\.branchUpToDateForegroundColor: #586069;
  --vscode-gitlens-decorations\.branchUnpublishedForegroundColor: #35b15e;
  --vscode-gitlens-decorations\.branchMissingUpstreamForegroundColor: #ad0707;
  --theme-input-border-width: 1px;
  --theme-button-primary-hover-shadow: none;
  --theme-button-secondary-hover-shadow: none;
  --theme-input-border-color: transparent;
  --theme-font-family: "Segoe WPC", "Segoe UI", sans-serif;
  --theme-font-weight: normal;
  --theme-font-size: 13px;
  --theme-code-font-family: Fira Code;
  --theme-code-font-weight: normal;
  --theme-code-font-size: 15px;
  --theme-background: #ffffff;
  --theme-foreground: #24292e;
  --theme-link: #006ab1;
  --theme-link-active: #006ab1;
  --theme-button-background: #007acc;
  --theme-button-hover-background: #0062a3;
  --theme-button-foreground: #ffffff;
  --theme-button-secondary-background: #5f6a79;
  --theme-button-secondary-hover-background: #4c5561;
  --theme-button-secondary-foreground: #ffffff;
  --theme-button-hover-foreground: #ffffff;
  --theme-button-focus-foreground: #ffffff;
  --theme-button-secondary-hover-foreground: #ffffff;
  --theme-button-secondary-focus-foreground: #ffffff;
  --theme-input-background: #ffffff;
  --theme-input-foreground: #616161;
  --theme-input-placeholder-foreground: rgba(97, 97, 97, 0.5);
  --theme-input-focus-border-color: #fafbfc;
  --theme-menu-background: #ffffff;
  --theme-menu-foreground: #616161;
  --theme-menu-hover-background: #0060c0;
  --theme-menu-focus-background: #0060c0;
  --theme-menu-hover-foreground: #ffffff;
  --theme-menu-focus-foreground: #ffffff;
  --theme-error-background: #f2dede;
  --theme-error-foreground: #616161;
  --theme-warning-background: #f6f5d2;
  --theme-warning-foreground: #616161;
  --theme-info-background: #d6ecf2;
  --theme-info-foreground: #616161;
}