.response{
  font-family: var(--vscode-editor-font-family);
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
  padding: 1rem;
  max-height: 30rem;
  overflow: auto;
}

.statusline{
  margin: .5rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.statusline__version{
  padding-right: .5rem;
  color: var(--vscode-symbolIcon-operatorForeground);
}
.statusline__code{
  padding-right: .5rem;
  color: var(--vscode-symbolIcon-variableForeground);
}
.statusline__message{
  color: var(--vscode-symbolIcon-textForeground);
}

.request + .statusline{
  margin-top: 2rem;
}


.requestline{
  margin: .5rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.requestline__method{
  padding-right: .5rem;
  color: var(--vscode-symbolIcon-operatorForeground);
}
.requestline__url{
  color: var(--vscode-symbolIcon-textForeground);
}


.header{
  display: grid;
  column-gap: .5rem;
  grid-template-columns: auto minmax(0, 1fr);
}
.header__key{
  color: var(--vscode-symbolIcon-keyForeground);
}
.header__value{
  color: var(--vscode-symbolIcon-variableForeground);
}
