.response{
  font-family: var(--theme-code-font-family);
  color: var(--theme-foreground);
  background-color: var(--theme-background);
  padding: 1rem;
  max-height: 30rem;
  overflow: auto;
}

.statusline{
  margin: .5rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.statusline__version{
  color: var(--theme-info-foreground);
}
.statusline__code{
  padding: 0 .2rem;
  margin: 0 .3rem;
  color: var(--theme-link);
}
.statusline--error .statusline__code{
  color: var(--theme-error-foreground);
  background-color: var(--theme-error-background);
}
.statusline__message{
  color: var(--theme-info-foreground);
}

.request + .statusline{
  margin-top: 2rem;
}


.requestline{
  margin: .5rem 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.requestline__method{
  padding-right: .5rem;
  color: var(--theme-link);
}
.requestline__url{
  color: var(--theme-info-foreground);
}


.header{
  display: grid;
  column-gap: .5rem;
  grid-template-columns: auto minmax(0, 1fr);
}
.header__key{
  color: var(--theme-info-foreground);
}
.header__value{
  color: var(--theme-link);
}
