.testresults{
  font-family: var(--theme-code-font-family);
  color: var(--theme-foreground);
}
.testtitle{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: flex-start;
}
.testtitle__cell svg{
  margin: .1rem;
}
.testtitle__cell{
  margin: 0;
}
.testtitle__cell + .testtitle__cell{
  margin-left: 1rem;
}
.testline{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .1rem;
}
.testline__error{
  padding: 0 1rem;
}

.testicon--success{
  color: var(--vscode-testing-iconPassed)
}
.testicon--skipped{
  color: var(--vscode-testing-iconSkipped);
}
.testicon--failed{
  color: var(--vscode-testing-iconFailed);
}
.testicon--error{
  color: var(--vscode-testing-iconErrored);
}
.testline svg{
  margin: .1rem;
}
.testicon{
  margin: .1rem;
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}