.testresults{
  font-family: var(--theme-code-font-family);
  color: var(--theme-foreground);
}
.testtitle{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
}
.testtitle__cell svg{
  margin: .1rem;
}
.testtitle__cell{
  margin: 0;
}
.testtitle__cell + .testtitle__cell{
  margin-left: 1rem;
}
.testline{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: .1rem;
}
.testline--error{
  color: var(--theme-error-foreground);
  background-color: var(--theme-error-background);
}
.testline svg{
  margin: .1rem;
}
.testline__error{
  padding: 0 1rem;
}
