.testresults{
  font-family: var(--vscode-editor-font-family);
  color: var(--vscode-editor-foreground);
}
.testtitle{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
}
.testtitle__cell svg{
  margin: .1rem;
}
.testtitle__cell{
  margin: 0;
}
.testtitle__cell + .testtitle__cell{
  margin-left: 1rem;
}
.testline{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.testline svg{
  margin: .1rem;
}
.testline__error{
  padding: 0 1rem;
}
.is_error{
  color: var(--vscode-notebookStatusErrorIcon-foreground);
}
.is_success{
  color: var(--vscode-notebookStatusSuccessIcon-foreground);
}
